<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>PHARMA - App</title>
        {% load static %}
        <!-- Bootstrap Core CSS -->
        <link href="{% static 'stock/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="{% static 'stock/css/metisMenu.min.css' %}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{% static 'stock/css/startmin.css' %}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{% static 'stock/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        {% load crispy_forms_tags %}
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Inscription - Pharma</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form" method="post">
                                {% csrf_token %}
                                <fieldset>
                                    {{ form|crispy }}
                                    <div class="checkbox">
                                        <label>
                                            Vous avez déjà un compte ? Connectez vous <a href="/login">ici</a>!
                                        </label>
                                    </div>
                                    <!-- Change this to a button or input when using this as a form -->
                                    <button type="submit" class="btn btn-sm btn-success btn-block">Inscription</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery -->
        <script src="{% static 'stock/js/jquery.min.js' %}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'stock/js/bootstrap.min.js' %}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{% static 'stock/js/metisMenu.min.js' %}"></script>

        <!-- Custom Theme JavaScript -->
        <script src="{% static 'stock/js/startmin.js' %}"></script>

    </body>

</html>
